on:
    push:

jobs:

    fixer-with-cache:
        name: PHPStan
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2
                with:
                    repository: redaxo/redaxo # just check out any code

            -   name: Setup PHP
                    uses: shivammathur/setup-php@v2
                    with:
                        php-version: 7.1

            -   name: Install Dependencies
                run: composer install friendsofphp/php-cs-fixer

            -   name: run
                run: time vendor/bin/php-cs-fixer fix --diff --dry-run

            -   name: repeated run
                run: time vendor/bin/php-cs-fixer fix --diff --dry-run
